{ 
  "extends": [
    "eslint-config-airbnb",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": ["error", {"trailingComma": true, "singleQuote": true}],
    "generator-star-spacing": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-multi-comp": 0,
    "import/default": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/imports-first": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "arrow-parens": 0,
    "comma-dangle": 0,  // not sure why airbnb turned this on. gross!
    "no-children-prop": 0,
    "no-confusing-arrow": 0,
    "prefer-template": 0,
    "space-infix-ops": 0,
    "no-duplicate-imports": 0,
    "import/no-duplicates": 1,
    "flowtype/define-flow-type": 1,
    "flowtype/space-before-type-colon": [
      1,
      "never"
    ],
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1,
    "flowtype/type-id-match": [
      2,
      "^([A-Z]+[a-z0-9A-Z]*)$"
    ]
  },
  "plugins": [
    "react", 
    "prettier",
    "import",
    "flowtype"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "babel-module": {}
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
