@import 'variables';

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.input-size {
  position: relative;
  width: 100%;
  padding: 6px 11px 5px;
  line-height: 1.57;
  border-radius: 3px;
  position: relative;
  min-height: 33px;
}
:global(.rdt) input {
  position: relative;
  width: 100%;
  padding: 8px 11px 8px;
  border-radius: 3px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.input-style {
  composes: input-size;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
  }
  & > input {
    border: none;
    background-color: #fff;
    &:focus {
      outline: none;
    }
  }
}

.error {
  border: 1px solid rgba(187, 0, 0, 0.3);
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.disabled {
  color: #a0a0a0; 
  background: #f8f8f8;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f8f8f8 inset;
  }
  & input {
    border: none;
    color: #a0a0a0; 
    background: #f8f8f8;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #f8f8f8 inset;
    }
  }
}

.no-resize {
  resize: none;
}

.input {
  composes: input-style;
    padding: 0;
  & input {
    width: 100%;
    border: none;
    padding: 8px 11px 8px;
    border-radius: 3px;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    &:focus { outline: none }
  }

}

/* Obsolete */
.input--error {
  border: 1px solid rgba(187, 0, 0, 0.3);
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  composes: input;
}

.input--disabled {
  background: #f8f8f8;
  & input {
    background: #f8f8f8;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #f8f8f8 inset;
    }
  }
  composes: input;
}

.input-with-link {
  & input {
    padding-right: 85px;
    background-color: #fff;
  }
  & a {
    position: absolute; 
    right: 11px;
    top: 6px;
  }
  composes: input;
}

.input-with-link--disabled {
  background: #f8f8f8;
  & input {
    background: #f8f8f8;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #f8f8f8 inset;
    }
  }
  composes: input-with-link;
}

.input-with-link--error {
  border: 1px solid rgba(187, 0, 0, 0.3);
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  composes: input-with-link;
}
