@import 'variables';
.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  display: inline-block;
  padding: 16px 36px;
  background: var(--lapis-color);
  color: #fff !important;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  transition: background .35s var(--easing-swift-out);
  &:hover {
    color: #fff;
    background: color(var(--lapis-color) tint(10%));
    transition: background .35s var(--easing-swift-in);
  }
}

@media (--md-viewport) {
  font-size: 56px;
  padding: 24px 60px;
}
