@import 'variables';
.input {
  composes: input-style from 'css/forms.css';
}

.input--error {
  composes: input-style error from 'css/forms.css';
}

.input--disabled {
  composes: input-style disabled from 'css/forms.css';
}

.autosize-input {
  composes: autosize-input from 'css/forms.css';
}

.additional-phone {
  composes: input from 'css/forms.css';
}
.additional-phone--error {
  composes: input error from 'css/forms.css';
}
.additional-phone--disabled {
  composes: input disabled from 'css/forms.css';
}

.fax-add-num-wrapper {
  border-right: 0;
  display: inline-block;
  width: 40%;
  position: absolute;
  right: 0px;
  top: -7px;
  height: inherit;
  & > span {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 10;
  }
}

.fax-add-num-link {
  position: absolute;
  right: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #3229a1;
  letter-spacing: -.21px;
  line-height: 25px;
  position: absolute;
  right: 10px;
  top: 5px;
  display: block;
  padding-right: 25px;
  width: auto;
  background-size: initial;
  height: 25px;
  composes: blue-plus from 'css/icons.css';
}

.verify-link {
  position: absolute;
  right: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #3229a1;
  letter-spacing: -.21px;
  line-height: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 5px;
  display: block;
  z-index: 2;
}

.verification-error, 
.main-phone-label,
.make-main-btn,
.verification-sent {
}

.toolbar {
    position: absolute;
    right: 0;
    top: 50%;
    display: inline-block;
    z-index: 2;
    margin-top: -16px;
    padding: 0px 12px 0px 0;
    line-height: 34px;
    height: 100%;
}

.verification-error {
  color: var(--alert-color);
}

.main-phone-label {
  opacity: 0.35;
}

.verify-email {
  top: 9px;
  right: 10px;
}

.fax-add-num-input {
  composes: input-style from 'css/forms.css';
  padding-left: 42px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  border-top: 0;
  height: inherit;
  background: none;
  &:focus {
    outline: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
  }
}

.search-icon {
  position: absolute;
  width: 18px;
  height: 20px;
  top: 8px;
  left: 12px;
  background-image: url(assets/search-icon.svg);
  background-repeat: no-repeat;
  z-index: 10;
}


.pencil-edit {
  .toolbar & {
    position: relative;
    margin-left: 20px;
    right: 0;
    top: 3px;
  }
  position: absolute;
  background-image: url(assets/pencil.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  z-index: 10;
  top: 10px;
  right: 10px;
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    top: -4px;
    height: 22px;
    background-color: var(--border-color);
    left: -10px;
  }
}

