@import  'global';
@import 'variables';

.wrapper {
  margin-top: 40px;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}

.content {
  display: flex;
}

.routes {
  flex: 800px; 
}

.navigation {
  flex: 120px;
  flex-shrink: 0;
}

.connection-error {
}

@media (--md-viewport) {
}
