@import  'global';
@import 'variables';

.wrapper {
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  max-width: 1000px;
  padding: 0 1rem;
}

.link {
  margin-bottom: 16px;
}

.content {
  display: flex;
}

.routes {
  flex: 800px; 
}

.navigation {
  display: none;
  flex: 120px;
  flex-shrink: 0;
  margin-right: 20px;
}

.connection-error {
}

@media (--md-viewport) {
  .navigation {
    display: flex;
  }
}
