@import 'variables';
html, body { height: 100%; }
.app-wrap {
  height: 100%;
}
.app {
  position: relative;
}
.appContent {
  width: 100%;
  height: 100%;
  word-break: break-word;
  word-wrap: break-word;
  padding-bottom: 100px;
  padding-left: 135px;
  padding-right: 16px;
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
}


.navigation {
  position: fixed;
  width: 200px;
  left: 0;
  top: 150px;

  & > a {
    color: var(--primary-color);
    padding: 4px 4px 4px 10px;;
    margin-bottom: 8px;
    display: block;
    border-left: 3px solid transparent;
  }
  & > .active-link,
  & > a:hover {
    border-left-color: #000;
    color: #000;
  }
}


.header {
  width: 100%;
  margin: 0 auto;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 9px;
  margin-bottom: 20px;
  height: 60px;
}


.logo {
  display: inline-block;
  & img {
    height: 44px;
  }
}


.connection-error {
  font-size: 12px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100000000;
  background-color: #fbe327;
  padding: 10px 32px;
  & span {
    font-weight: bold;
  }
}
.reconnect-info {
  position: absolute;
  right: 32px;
  top: 5px;
  color: #666;
}

.reconnect-btn {
  color: #000;
  position: relative;
  padding: 3px 11px 3px;
  border: 1px solid #999;
  border-radius: 3px;
}

@media (--lg-viewport) {
  .help-btn-wrap {
    float: right;
  }
  .app {
    min-height: 100%;
  }
  .footer {
    margin-top: -40px;
  }
}


@media (only screen and (min-width: 900px)) {
  .appContent {
    padding-left: 0;
    padding-right: 0;
  }

}
@media (--md-viewport) {
  .header-landing {
    left: 0;
    right: 0;
    padding: 16px 16px 0;
  }
}
